*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.welcome{
    background-image: linear-gradient(#ff5722,#ffc107);
    position: relative;
    height: 100vh;
    overflow: hidden;
}
h1{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
ul li{
    position: absolute;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    list-style: none;
    opacity: 0;
    background: #fff;
}
.sqare li{
    top: 50vh;
    left: 45vw;
    animation: square 10s linear infinite;
    opacity: 0;
}
.sqare li:nth-child(2){
    top: 80vh;
    left: 10vw;
    animation-delay: 2s;
}
.sqare li:nth-child(3){
    top: 80vh;
    left: 85vw;
    animation-delay: 4s;
}
.sqare li:nth-child(4){
    top: 10vh;
    left: 70vh;
    animation-delay: 6s;
}
.sqare li:nth-child(5){
    top: 10vh;
    left: 10vh;
    animation-delay: 8s;
}      
@keyframes square
{
    0%{
        transform: scale(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: scale(5) rotate(1000deg);
        opacity: 0;
    }

}  
.circle li{
    bottom: 0;
    left: 15vw;
    animation: circle 10s linear infinite;
} 
.circle li:nth-child(2){
    left: 35vw;
    animation-delay: 2s;
} 
.circle li:nth-child(3){
    left: 55vw;
    animation-delay: 4s;
} 
.circle li:nth-child(4){
    left: 75vw;
    animation-delay: 6s;
} 
.circle li:nth-child(5){
    left: 90vw;
    animation-delay: 8s;
} 
@keyframes circle{
    0%{
        transform: scale(5) rotate(1000deg);
        opacity: 1;
        bottom: 90vh;
        border-radius: 50%;
    }
}
